@model IEnumerable<RestaurantCMS.Models.Dish>

    <link href="~/css/extra.css" rel="stylesheet" />

    <p>
        <a class="btn btn-success" asp-action="Add">Yeni Yemek Ekle</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Yemek İsmi
                </th>
                <th>
                    Açıklama
                </th>
                <th>
                    Yemek Resmi
                </th>
                <th>
                    Fiyatı
                </th>
                <th>
                    Değerlendirme
                </th>
                <th>
                    Öne Çıkan
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="centered-y">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img style="max-width:100px" class="" src="@Url.Content("~/images/menu/"+item.Image)" alt="@item.Image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @if (@item.Featured)
                        {
                        <div class="featured-badge">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-40 -40 440 440">
                                <circle class="outer" fill="#F9D535" stroke="#fff" stroke-width="8" stroke-linecap="round" cx="180" cy="180" r="157" />
                                <circle class="inner" fill="#DFB828" stroke="#fff" stroke-width="8" cx="180" cy="180" r="108.3" />
                                <path class="inline" d="M89.4 276.7c-26-24.2-42.2-58.8-42.2-97.1 0-22.6 5.6-43.8 15.5-62.4m234.7.1c9.9 18.6 15.4 39.7 15.4 62.2 0 38.3-16.2 72.8-42.1 97" stroke="#CAA61F" stroke-width="7" stroke-linecap="round" fill="none" />
                                <g class="star">
                                    <path fill="#F9D535" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" d="M180 107.8l16.9 52.1h54.8l-44.3 32.2 16.9 52.1-44.3-32.2-44.3 32.2 16.9-52.1-44.3-32.2h54.8z" />
                                    <circle fill="#DFB828" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" cx="180" cy="107.8" r="4.4" />
                                    <circle fill="#DFB828" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" cx="223.7" cy="244.2" r="4.4" />
                                    <circle fill="#DFB828" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" cx="135.5" cy="244.2" r="4.4" />
                                    <circle fill="#DFB828" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" cx="108.3" cy="160.4" r="4.4" />
                                    <circle fill="#DFB828" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" cx="251.7" cy="160.4" r="4.4" />
                                </g>
                            </svg>
                        </div>
                        }
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm mb-1 btn-block" href="/Dish/Update/@item.DishId">Düzenle</a>
                        <a class="btn btn-primary btn-sm mb-1 btn-block" href="/Dish/Details/@item.DishId">Detay</a>
                        <a class="btn btn-danger btn-sm mb-1 btn-block" href="/Dish/Delete/@item.DishId">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>